.header__logo {
  width: 142px;
  height: 33px;
}

@media screen and (max-width : 768px) {
  .header__logo {
    padding: 28px 0 32px 27px;
  }
}

@media screen and (max-width : 400px) {
  .header__logo {
    width: 104px;
    height: 24px;
  }
}
