.photo-grid {
  font-size: 0px;
  display: grid;
  grid-column-gap: 18px;
  grid-row-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(282px, 282px));
} 

@media screen and (max-width : 1024px) {
.photo-grid {
  grid-template-columns: repeat(auto-fit, minmax(282px, 1fr));
  }
}