.popup__close-button {
  background: url('./../../../images/close-icon.svg');
  width: 45px;
  height: 45px;
  content: '';
  position: absolute;
  right: -37px;
  top: -51px;
  transition: opacity;
  opacity: 1.0;
  cursor: pointer;
  border: 0;
  outline: 0;
}

.popup__close-button:hover {
  opacity: 0.6;
}

@media screen and (max-height: 500px) {
  .popup__close-button {
    right: 10px;
    background: url('./../../../images/close-icon-black.svg');
    top: 0px;
  }
}

@media screen and (max-width: 550px) {
  .popup__close-button {
    right: 10px;
    background: url('./../../../images/close-icon-black.svg');
    top: 0px;
  }
}