.profile__image {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  background-size: cover;
  background-position: center center;
}

.profile__image:hover::before,
.profile__image:focus::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.profile__image:hover::after,
.profile__image:focus::after {
  content: "";
  position: absolute;
  height: 26px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 26px;
  background: url('./../../../images/profile-pencil.svg') no-repeat;
  cursor: pointer;
}